# CSC 522 Project 
_by Team 21: Raphael Phillips (rjphill4), Sogolsadat Mansouri (smansou2), Rithik Jain (rjain25), and Neeloy Gomes (ntgomes)_

This project will involve developing a machine learning model using supervised learning to predict future exchange rates for a specific currency pair, based on historical exchange rate data and other relevant features.

In [27]:
%run pre_processing.py

usdinr_df = pd.read_csv('../data/USDINRX.csv')
forex_df = pd.read_csv('../data/forex.csv')

print('Instantiated the input CSVs as dataframes')

cleaned_usdinr_df = pre_p_usdinr(usdinr_df)
cleaned_forex_df = pre_p_forex(forex_df)

print('Cleaned ' + str(len(forex_df.index) - len(cleaned_forex_df.index)) + ' rows from data/forex.csv')
print('Cleaned ' + str(len(usdinr_df.index) - len(cleaned_usdinr_df.index)) + ' rows from data/USDINRX.csv')

Instantiated the input CSVs as dataframes
Cleaned 1448456 rows from data/forex.csv
Cleaned 52 rows from data/USDINRX.csv

In [28]:
merged_df = merge(cleaned_forex_df, cleaned_usdinr_df)
print('Merged the two datasets')
merged_df

Merged the two datasets

,date,open,high,low,close,Date,Open,High,Low,Close
0,12387.0,45.709000,45.728001,45.615002,45.709999,NaN,NaN,NaN,NaN,NaN
1,12388.0,45.709000,45.719002,45.560001,45.629002,NaN,NaN,NaN,NaN,NaN
2,12389.0,45.632000,45.655998,45.474998,45.549999,NaN,NaN,NaN,NaN,NaN
3,12390.0,45.548000,45.612999,45.519001,45.548000,NaN,NaN,NaN,NaN,NaN
4,12391.0,45.549999,45.566002,45.449001,45.449001,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9172,NaN,NaN,NaN,NaN,NaN,18890.0,73.696198,73.899597,73.607002,73.696098
9173,NaN,NaN,NaN,NaN,NaN,18891.0,73.659302,73.790100,73.549004,73.658997
9174,NaN,NaN,NaN,NaN,NaN,18892.0,73.795097,73.941498,73.650002,73.792702
9175,NaN,NaN,NaN,NaN,NaN,18893.0,73.875000,73.925797,73.588997,73.874901
9176,NaN,NaN,NaN,NaN,NaN,18894.0,73.839897,73.875198,73.621002,73.839996

In [ ]:
merged_x_train, merged_x_test, merged_y_train, merged_y_test = split(merged_df)
print('Merged and did the train/test split of the datasets')

In [20]:
%run lstm_rnn.py
%run rand_network_ensemble.py

lstm_args = { 
    "input_shape": (len(merged_x_train.to_numpy()), len(merged_x_train.to_numpy()[0])), 
    "lstm_units": 32, 
    "dense_units": 16, 
    "output_shape": (1,) 
}
ensembler = RandomNetworkEnsemble(num_networks = 2, base_nn_model = CustomLSTM, model_args = lstm_args, random_seed = 522)

ensembler.train(merged_x_train.to_numpy(), merged_y_train.to_numpy())
predicted_target = ensembler.predict(merged_x_test.iloc[1: , :].to_numpy()) # Have to do .iloc[1: , :] to keep row numbers the same

Epoch 1/10
Epoch 1/10
1/1 [==============================] - 10s 10s/step - loss: nan
Epoch 2/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 3/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 4/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 5/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 6/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 7/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 8/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 9/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 10/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 1/10
1/1 [==============================] - 9s 9s/step - loss: nan
Epoch 2/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 3/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 4/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 5/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 6/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 7/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 8/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 9/10
1/1 [==============================] - 5s 5s/step - loss: nan
Epoch 10/10
1/1 [==============================] - 5s 5s/step - loss: nan
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 1s/step

In [22]:
#print('RMSE of tuned model\'s predictions: ' + ensembler.calculate_rmse_of_predicted(merged_y_test.iloc[1: , :].to_numpy(), predicted_target))

predicted_target

array([nan, nan, nan, ..., nan, nan, nan], dtype=float32)